@page "/Namespaces"
@page "/Namespaces/{projectID:guid}"

@using RC.ServerCenter.DataTransmitModel.Namespace;
@using RC.ServerCenter.DataTransmitModel.Project;
@using RC.ServerCenter.HttpClient;
@using RC.ServerCenter.PresentationModel.Namespace;

@inherits BaseList<AddNamespaceRequestModel, EditNamespaceRequestModel, QueryNamespaceRequestModel, NamespaceDTO, NamespaceListDTO, NamespaceHttpClient>;

@inject IMessageService _message;
@inject ProjectHttpClient _projectHttpClient;

<PageTitle>命名空间管理-@WebAppConfig.AppTitle</PageTitle>

<Space Direction="DirectionVHType.Vertical" Style="width:100%;">
    <SpaceItem>
        <Form @ref="SearchForm" Loading="SearchLoading" Model="SearchModel" OnFinish="Reload">
            <Row Gutter="24">
                <GridCol Span="6">
                    <FormItem Label="项目">
                        <Select TItem="SelectDataModel<Guid>" TItemValue="Guid?" DataSource="projectData" ValueName="Value" LabelName="Name" @bind-Value="context.ProjectID" OnSelectedItemChanged="Reload" />
                    </FormItem>
                </GridCol>
                <GridCol Span="6">
                    <FormItem Label="名称">
                        <Input @bind-Value="context.Name" />
                    </FormItem>
                </GridCol>
            </Row>
            <Row>
                <GridCol Span="24" Style="text-align:right;">
                    <ButtonGroup>
                        <Tooltip Title="查询">
                            <Button Type="primary" Icon="@IconType.Outline.Search" HtmlType="submit"></Button>
                        </Tooltip>
                        <Tooltip Title="重置条件">
                            <Button Icon="@IconType.Outline.Retweet" OnClick="ResetSearchForm"></Button>
                        </Tooltip>
                        <Tooltip Title="新增">
                            <Button Icon="@IconType.Outline.FileAdd" OnClick="Add"></Button>
                        </Tooltip>
                    </ButtonGroup>
                </GridCol>
            </Row>
        </Form>
    </SpaceItem>
    <SpaceItem>
        <Table Loading="SearchLoading" DataSource="@TableData" PageIndex="PageInfo.PageIndex" PageSize="PageInfo.PageSize" Total="PageInfo.DataCount" PageIndexChanged="ReloadByPageIndex">
            <PropertyColumn Title="名称" Property="m => m.Name"></PropertyColumn>
            <PropertyColumn Title="描述" Property="m => m.Description"></PropertyColumn>
            <ActionColumn Title="操作">
                <ButtonGroup>
                    <Tooltip Title="编辑">
                        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Edit" OnClick="e => Edit(context.ID)"></Button>
                    </Tooltip>
                    <Tooltip Title="删除">
                        <Popconfirm Title="确定删除该用户?" OkText="删除" CancelText="取消" OnConfirm="e => Delete(context.ID)">
                            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Delete"></Button>
                        </Popconfirm>
                    </Tooltip>
                </ButtonGroup>
            </ActionColumn>
        </Table>
    </SpaceItem>
</Space>
@code {
    [Parameter]
    public Guid? ProjectID { get; set; }
    private List<SelectDataModel<Guid>> projectData = new();
    private Guid selectedProjectID = Guid.Empty;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RCData.ShowDeploys = false;
            RCData.ShowEnvironments = false;
            LoadAllProjects();
        }
        base.OnAfterRender(firstRender);
    }
    protected override string GetDetailPageName => $"Namespaces/Namespace/{SearchModel.ProjectID}";
    private void LoadAllProjects()
    {
        SearchLoading = true;
        HttpHandler.Handler(async () =>
        {
            projectData = await _projectHttpClient.GetSelectDataModelAsync();
            if (projectData.Count > 0)
            {
                SearchModel.ProjectID = (projectData.FirstOrDefault(m => m.Value == ProjectID) ?? projectData.First()).Value;
                Reload();
            }
            else
            {
                _message.ShowError("无项目信息，请先添加项目");
            }
        });
    }
}
