@page "/DefaultDatas"

@using RC.Deploy.DataTransmitModel.DefaultData;
@using RC.Deploy.Enums;
@using RC.Deploy.HttpClient;
@using RC.Deploy.PresentationModel.DefaultData;

@inherits BaseList<AddDefaultDataRequestModel, EditDefaultDataRequestModel, QueryDefaultDataRequestModel, DefaultDataDTO, DefaultDataListDTO, DefaultDataHttpClient>;

@inject IMessageService _message;

<PageTitle>默认数据管理-RC</PageTitle>

<Space Direction="DirectionVHType.Vertical" Style="width:100%;">
    <SpaceItem>
        <Form @ref="SearchForm" Loading="SearchLoading" Model="SearchModel" OnFinish="Reload">
            <Row Gutter="24">
                <GridCol Span="6">
                    <FormItem Label="键">
                        <Input @bind-Value="context.Key" />
                    </FormItem>
                </GridCol>
                <GridCol Span="6">
                    <FormItem Label="类型">
                        <Select DataSource="allApplicationTypes" ValueName="Value" LabelName="Name" @bind-Value="context.ApplicationType"></Select>
                    </FormItem>
                </GridCol>
            </Row>
            <Row>
                <GridCol Span="24" Style="text-align:right;">
                    <ButtonGroup>
                        <Tooltip Title="查询">
                            <Button Type="primary" Icon="@IconType.Outline.Search" HtmlType="submit"></Button>
                        </Tooltip>
                        <Tooltip Title="重置条件">
                            <Button Icon="@IconType.Outline.Retweet" OnClick="ResetSearchForm"></Button>
                        </Tooltip>
                        <Tooltip Title="新增">
                            <Button Icon="@IconType.Outline.FileAdd" OnClick="Add"></Button>
                        </Tooltip>
                    </ButtonGroup>
                </GridCol>
            </Row>
        </Form>
    </SpaceItem>
    <SpaceItem>
        <Table Loading="SearchLoading" DataSource="@TableData" PageIndex="SearchModel.PageIndex" PageSize="SearchModel.PageSize" PageSizeChanged="Reload" PageIndexChanged="Reload">
            <PropertyColumn Title="名称" Property="m => m.Key"></PropertyColumn>
            <PropertyColumn Title="类型" Property="m => m.ApplicationType.GetDescription()"></PropertyColumn>
            <PropertyColumn Title="数据" Property="m => m.Data"></PropertyColumn>
            <ActionColumn Title="操作">
                <ButtonGroup>
                        <Tooltip Title="编辑">
                            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Edit" OnClick="e => Edit(context.ID)"></Button>
                    </Tooltip>
                    <Tooltip Title="删除">
                        <Popconfirm Title="确定删除该用户?" OkText="删除" CancelText="取消" OnConfirm="e => Delete(context.ID)">
                            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Delete"></Button>
                        </Popconfirm>
                    </Tooltip>
                </ButtonGroup>
            </ActionColumn>
        </Table>
    </SpaceItem>
</Space>
@code {
    private List<SelectDataModel<ApplicationTypeEnum>> allApplicationTypes = SelectDataModel<ApplicationTypeEnum>.GetListAndAll<ApplicationTypeEnum>();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RCData.ShowDeploys = true;
            RCData.ShowEnvironments = false;
            Reload();
        }
        base.OnAfterRender(firstRender);
    }
    protected override string GetDetailPageName => "DefaultDatas/DefaultData";
}
