@page "/Users"

@using RC.Authority.DataTransmitModel.User;
@using RC.Authority.HttpClient;
@using RC.Authority.PresentationModel.User;

@inherits BaseList<AddUserRequestModel, EditUserRequestModel, QueryUserRequestModel, UserDTO, UserListDTO, UserHttpClient>;

@inject IMessageService _message;
@inject UserHttpClient _httpClient;

<PageTitle>用户管理-RC</PageTitle>

<Space Direction="DirectionVHType.Vertical" Style="width:100%;">
    <SpaceItem>
        <Form @ref="SearchForm" Loading="SearchLoading" Model="SearchModel" OnFinish="Reload">
            <Row Gutter="24">
                <GridCol Span="6">
                    <FormItem Label="姓名">
                        <Input @bind-Value="context.Name" />
                    </FormItem>
                </GridCol>
                <GridCol Span="6">
                    <FormItem Label="账号">
                        <Input @bind-Value="context.Account" />
                    </FormItem>
                </GridCol>
            </Row>
            <Row>
                <GridCol Span="24" Style="text-align:right;">
                    <Tooltip Title="查询">
                        <Button Type="primary" Icon="@IconType.Outline.Search" HtmlType="submit"></Button>
                    </Tooltip>
                    <Tooltip Title="重置条件">
                        <Button Icon="@IconType.Outline.Retweet" OnClick="ResetSearchForm"></Button>
                    </Tooltip>
                    <Tooltip Title="新增">
                        <Button Icon="@IconType.Outline.FileAdd" OnClick="Add"></Button>
                    </Tooltip>
                </GridCol>
            </Row>
        </Form>
    </SpaceItem>
    <SpaceItem>
        <Table Loading="SearchLoading" DataSource="@TableData" PageIndex="SearchModel.PageIndex" PageSize="SearchModel.PageSize" PageSizeChanged="Reload" PageIndexChanged="Reload">
            <PropertyColumn Title="姓名" Property="m => m.Name"></PropertyColumn>
            <PropertyColumn Title="账号" Property="c => c.Account"></PropertyColumn>
            <ActionColumn Title="操作">
                <Space Size=@("middle")>
                    <SpaceItem>
                        <Tooltip Title="编辑">
                            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Edit" OnClick="e => Edit(context.ID)"></Button>
                        </Tooltip>
                    </SpaceItem>
                    <SpaceItem>
                        <Tooltip Title="重置密码">
                            <Popconfirm Title="确定重置该用户的密码?" OkText="重置" CancelText="取消" OnConfirm="e => Restpassword(context.ID)">
                                <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Retweet"></Button>
                            </Popconfirm>
                        </Tooltip>
                    </SpaceItem>
                    <SpaceItem>
                        <Tooltip Title="删除">
                            <Popconfirm Title="确定删除该用户?" OkText="删除" CancelText="取消" OnConfirm="e => Delete(context.ID)">
                                <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Delete"></Button>
                            </Popconfirm>
                        </Tooltip>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </SpaceItem>
</Space>
@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RCData.ShowDeploys = false;
            RCData.ShowEnvironments = false;
            Reload();
        }
        base.OnAfterRender(firstRender);
    }
    protected override string GetDetailPageName => "Users/User";
    private void Restpassword(Guid id)
    {
        SearchLoading = true;        
        HttpHandler.Handler(async () =>
        {
            string? password = await _httpClient.ResetPasswordAsync(id);
            _message.ShowSuccess($"密码已重置为:{password}");
        });
    }
}
