@using Materal.ConvertHelper
@using WebAPP.AntDesignHelper
@using WebAPP.Models
@using Deploy.HttpManage
@using Deploy.PresentationModel.DefaultData
@using Materal.Model
@using WebAPP.Common
@using OneOf;

@inject MessageManage _messageManage
@inject ExceptionManage _exceptionManage
@inject IDefaultDataManage _userManage

<style>
    .m_operation_user_buttons {
        text-align: right;
    }
</style>

<Form @ref="form" Loading="_loading" Model="@_fromData">
    <FormItem Label="主键">
        <Input @bind-Value="@_fromData.Key" />
    </FormItem>
    <FormItem Label="类型">
        <RadioGroup @bind-Value="@_fromData.ApplicationTypeValue">
            <Radio RadioButton Value="0">RMB</Radio>
            <Radio RadioButton Value="1">Dollar</Radio>
            <Radio RadioButton Value="3">Dollar</Radio>
            <Radio RadioButton Value="4">Dollar</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label="数据">
        <Input @bind-Value="@_fromData.Data" />
    </FormItem>
    <FormItem class="m_operation_user_buttons">
        <Button Type="@ButtonType.Primary" OnClick="SaveAsync" Loading="_loading">
            @(DefaultDataData.ID.HasValue ? "修改" : "添加")
        </Button>
        <Button OnClick="OnClose" Loading="_loading">关闭</Button>
    </FormItem>
</Form>

@code{
    public Form<DefaultDataInfoModel> form;
    private bool _loading;
    /// <summary>
    /// 表单数据
    /// </summary>
    private readonly DefaultDataInfoModel _fromData = new DefaultDataInfoModel();
    private DefaultDataInfoModel _userData;
    /// <summary>
    /// 默认数据模型
    /// </summary>
    [Parameter]
    public DefaultDataInfoModel DefaultDataData
    {
        get => _userData;
        set
        {
            _userData = value;
            _userData.CopyProperties(_fromData);
        }
    }
    /// <summary>
    /// 默认数据模型回调
    /// </summary>
    [Parameter]
    public EventCallback<DefaultDataInfoModel> DefaultDataDataChanged { get; set; }
    /// <summary>
    /// 关闭
    /// </summary>
    [Parameter]
    public EventCallback OnClose { get; set; }
    /// <summary>
    /// 成功后
    /// </summary>
    [Parameter]
    public EventCallback OnSuccess { get; set; }
    /// <summary>
    /// 保存
    /// </summary>
    /// <returns></returns>
    private async Task SaveAsync(MouseEventArgs eventArgs)
    {
        if (!form.Validate()) return;
        if (_fromData.ID.HasValue)
        {
            await EditDefaultDataInfoAsync();
        }
        else
        {
            await AddDefaultDataInfoAsync();
        }
    }
    /// <summary>
    /// 修改默认数据
    /// </summary>
    /// <returns></returns>
    private async Task EditDefaultDataInfoAsync()
    {
        try
        {
            _loading = true;
            var requestModel = _fromData.CopyProperties<EditDefaultDataRequestModel>("ID");
            requestModel.ID = _fromData.ID ?? throw new WebAPPException("未找到默认数据ID");
            ResultModel resultModel = await _userManage.EditAsync(requestModel);
            if (resultModel.ResultType == 0)
            {
                await OnSuccess.InvokeAsync(null);
                await OnClose.InvokeAsync(null);
            }
            else
            {
                _messageManage.Warning(resultModel.Message);
            }
        }
        catch (Exception exception)
        {
            _exceptionManage.HandlerException(exception);
        }
        finally
        {
            _loading = false;
        }
    }
    /// <summary>
    /// 添加默认数据
    /// </summary>
    /// <returns></returns>
    private async Task AddDefaultDataInfoAsync()
    {
        try
        {
            _loading = true;
            var requestModel = _fromData.CopyProperties<AddDefaultDataRequestModel>("ID");
            ResultModel resultModel = await _userManage.AddAsync(requestModel);
            if (resultModel.ResultType == 0)
            {
                await OnSuccess.InvokeAsync(null);
                await OnClose.InvokeAsync(null);
            }
            else
            {
                _messageManage.Warning(resultModel.Message);
            }
        }
        catch (Exception exception)
        {
            _exceptionManage.HandlerException(exception);
        }
        finally
        {
            _loading = false;
        }
    }
    /// <summary>
    /// 应用程序类型更改
    /// </summary>
    /// <param name="value"></param>
    /// <param name="option"></param>
    private void OnApplicationTypeChange(OneOf<string, IEnumerable<string>, LabeledValue, IEnumerable<LabeledValue>> value, OneOf<SelectOption, IEnumerable<SelectOption>> option)
    {
        Console.WriteLine($"selected: ${value}");
    }
}
